 
@media only screen and (min-width: 769px) {

     .maintitle {
         margin-bottom: 3%;
     }
     .center {
         text-align: center;
     }

     .featurette-divider {
         margin: 5rem 0;
         /*    Space out the Bootstrap <hr> more */
     }

     
     .heading2{
        font-size: 3rem;
     }

     .rounded-circle {
         width: 60%;
     }

     .mainprocess_pic {
         width: 75%;
     }


     .bold {
         font-weight: 600;
     }

     .col-7-text {
         line-height: 2rem;
         font-size: 1.1rem;
         margin-left: 15%;
         margin-right: 15%;
         margin-top: 5%
     }

     .title {
         text-align: center;
     }
     .col-text {
         margin-top: 5%;
         margin-left: 10%;
         margin-right: 10%;
         line-height: 2.2rem;
     }

     .sub-title {
         font-size: 1.2rem;
         margin-bottom: 5%;
         margin-top: 3%;
     }

 }

 /*end of width 769px*/

 @media only screen and (min-width: 420px) and (max-width: 769px) {



     .rounded-circle {

         width: 60%;

     }

 }


 @media only screen and (min-width: 0px) and (max-width: 420px) {

     .featurette-heading {
         font-weight: 600;
         font-size: 2rem;
         margin-top: 20px;
     }
     .lead {
         font-size: 1.3rem;
     }

     .bold {
         font-weight: 600;
     }

     .col-text {
         font-size: 1.05rem;
         line-height: 2.2rem;
         margin-top: 10px;
     }
     .sub-title {
         font-size: 1.2rem;
         margin-top: 15px;
     }

     .center {
         text-align: center;

     }

     .mainprocess_pic {
         width: 90%;
         margin-top: 10%;
     }
     .col-7-text {

         font-size: 1.05rem;
         line-height: 2.2rem;

     }


     .rounded-circle {
         width: 60%;
         margin-bottom: 10%;

     }

     .m-title {
         text-align: center;
     }

     #process_reuse {
         display: none;
     }
 }

 /*end of width 420px*/