 @media only screen and (min-width: 769px) {

     .maintitle {
         text-align: center;
         margin-bottom: 3%;
     }
     .center {
         text-align: center;
     }

     .featurette-divider {
         margin: 5rem 0;
         /*    Space out the Bootstrap <hr> more */
     }


     .featurette-heading {
         font-weight: 600;

     }


     .rounded-circle {
         width: 60%;
     }

     .mainprocess_pic {
         width: 75%;
     }


     .bold {
         font-weight: 600;
     }

     .col-7-text {
         /*        padding: 0.8rem;*/
         line-height: 2rem;
         font-size: 1.1rem;

     }

     .icon_bg {

         /*         background-color: */
     }


     .title {
         text-align: center;
     }
     .col-text {
         margin-top: 5%;
         margin-left: 10%;
         margin-right: 10%;
         line-height: 2.2rem;
         font-size: 1.1rem;

     }
     .mt-10 {
         margin-top: 10%;

     }

     .sub-title {

         font-size: 1.2rem;
         margin-bottom: 5%;
     }




 }

 }

 /*end of width 769px*/

 @media only screen and (min-width: 420px) and (max-width: 769px) {



     .rounded-circle {

         width: 60%;

     }

 }


 @media only screen and (min-width: 0px) and (max-width: 420px) {

     .featurette-heading {
         font-weight: 600;
         font-size: 2rem;
         margin-top: 20px;
     }
     .lead {
         font-size: 1.3rem;
     }

     .bold {
         font-weight: 600;
     }

     .col-text {
         font-size: 1.1rem;
     }
     .sub-title {
         font-size: 1.2rem;
     }

     .mainprocess_pic {
         width: 90%;
         margin-top: 10%;
     }
     .col-7-text {

         font-size: 1.1rem;

     }
     .rounded-circle {
         width: 60%;
         margin-bottom: 10%;

     }
     
     .m-title{
         text-align: center;
     }

     #process_reuse{
         display: none;
     }
 }

 /*end of width 420px*/