 @media only screen and (min-width: 769px) {

     .maintitle {
         text-align: center;
         margin-bottom: 3%;
     }
     .center {

         text-align: center;
     }

     .featurette-divider {
         margin: 5rem 0;
         /*    Space out the Bootstrap <hr> more */
     }


     .featurette-heading {
         font-weight: 600;

     }
     .shop_intr{
         text-align: left;
     }
     
     

     .bold {
         font-weight: 600;
     }

     .title {
         text-align: center;
     }
          .col-text {
         margin-top: 5%;
         margin-left: 10%;
         margin-right: 10%;
         line-height: 2.2rem;
     }



 }

 }

 /*end of width 769px*/

 @media only screen and (min-width: 420px) and (max-width: 769px) {



     .rounded-circle {

         width: 60%;

     }

 }


 @media only screen and (min-width: 0px) and (max-width: 420px) {

     .featurette-heading {
         font-weight: 600;
         font-size: 1.5rem;
         margin-top: 20px;
     }
     .lead {
         font-size: 1rem;
     }

     .bold {
         font-weight: 600;
     }

     .title_narr {
         font-size: 1rem;
     }
     .col-text {
         font-size: 1.05rem;
         line-height: 2.2rem;
         margin-top: 10px;
     }
     .shop_intro{
         font-size: 1rem;
         text-align: center;
     }
     .shop_name{
        text-align: center;
         
     }


 }

 /*end of width 420px*/